@model IEnumerable<MyPersonnalBlog.Models.BlogPost>
@{
    ViewBag.Title = "Page Blogue";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@foreach (var blog in Model)
{
    <div class="row">
        <div class="col-md-12" onclick="window.location = '@Url.Content("~/Blogue/Details/" + blog.Id)'" style="cursor:pointer;" >
            <h1>@blog.Title</h1> <i class="glyphicon glyphicon-user"></i> by <a href="#">@blog.User.Username</a>
            <p>
                @blog.Content
            </p>
            <div>
                <span class="badge"><i class="glyphicon glyphicon-calendar"></i> Posted On @(blog.CreateTime.ToString("yyyy-MM-dd hh:mm:ss"))</span>
                <div class="pull-right">
                    <i class="glyphicon glyphicon-tags"></i> Tags :
                    @foreach (var tag in blog.BlogTags.Select(d => d.Tag))
                    {
                        <span class="label label-warning">@tag.Nom</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
}

